<h1>careslist</h1>
<p>Businesses who care enough about their customers to make sure all of them wear masks.</p>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

{% if business_list %}
    <ul>
    {% for business in business_list %}
        <li><a href="{% url 'list:detail' business.id %}">{{ business.name }}</a>
        {% if business.verified %}
            ✅
        {% endif %}
        </li>
    {% endfor %}
    </ul>
{% else %}
<p>No businesses are available.</p>
{% endif %}

<h2>Add a business</h2>
<form action="{% url 'list:add' %}" method="post">
{% csrf_token %}
<label for="business_name">Name:</label><br>
<input type="text" name="business_name" id="business_name"><br>
<label for="business_zipcode">Zip:</label><br>
<input type="text" name="business_zipcode" id="business_zipcode"><br>
<input type="submit" value="Add">
